{% extends "base.html" %}
{% load static %}
{% load humanize %}


    

{% block title %}Discover Latest Nigerian Entertainment News & Trending stories{% endblock title %}

{% block header %}{% include 'header.html' %}{% endblock header %}
{% block navigation %}{% include 'navigation.html' %}{% endblock navigation %}
<div class="container-fluid banner-sec">
    {% block content %}
        <div class="row">
            
            {% if postsss %}
               {% for items in postsss  %}
                <p class="lead display-6 mt-3 fw-bold catpost searchy">{{items.category}}</p>
               {% endfor %}
            {% endif %}
                
            <div class="col-lg-12">
                <div class="row mt-1 p-0">
                    <div class="col-lg-12">
                        <div class="row">
                            
                            {% if posts %}  
                                {% for items in posts  %}
                                    <div class="col-lg-3 mb-3">
                                        <div class="newsnews">
                                            <img src="{{items.image.url}}" alt="{{items.title1}}" class="imgfluid">
                                            <div>
                                                <small>{{items.category}} / <span class="time">{{items.created_at|naturaltime}}</span></small> <br>
                                                <span class="fw-bold">
                                                    <a href="{% url 'postdetails' items.id items.slug %}">
                                                        {{items.title1 | slice:"90"}}
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                                
                        </div>
        
                    </div>
                </div>
                
               {% include 'pagination.html' with queryset=posts custom_range=custom_range %}
                    
            </div>
        </div>
    {% endblock content %}
</div>
