{% load static %}
<div class="container-fluid footer mt-5">
    <div>
        <ul class=" nav justify-content-center">
            <li><a href="{% url 'about' %}">About us |</a></li>
            <li><a href="{% url 'promotion' %}">Promote with us |</a></li>
            <li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
        </ul>
    </div>
    <p class="fw-bold mt-1">KLEF9JA &copy; 2021 | All Rights Reserved</p>
</div>
<div class="er">
    <a href="#top" class="fixed-bottom fs-1"><i class="bi bi-arrow-up-circle-fill"></i></a>
</div>
<div class="er1">
    <a href="#bottom" class="fixed-bottom fs-1"><i class="bi bi-arrow-up-circle-fill"></i></a>
</div>