{% load static %}
<div class="main-header fixed-top ">
    <div class=" container-fluid ps-5 pe-5 header-main">
        <div class="left">
            <a class="btn" data-bs-toggle="offcanvas" href="#klef" role="button" aria-controls="offcanvasExample">
                <i class="bi bi-list"></i>
            </a> 
            <a class="btn" data-bs-toggle="offcanvas" href="#klef1" role="button" aria-controls="offcanvasExample">
                <i class="bi bi-search"></i>
            </a>
        </div>
        <div class="left1">
            <a class="btn" data-bs-toggle="offcanvas" href="#klef" role="button" aria-controls="offcanvasExample">
                <i class="bi bi-list"></i>
            </a> 
            <a class="btn" data-bs-toggle="offcanvas" href="#klef" role="button" aria-controls="offcanvasExample">
                <i class="bi bi-search"></i>
            </a>
        </div> 
        <div class="center">
            <a href="{% url 'index' %}"><img src="{% static '' %}images/klef9ja_061938.png" class="img-fluid" width="200px" alt="klef9ja logo"></a>
        </div>
        <div class="right">
            <i class="bi bi-instagram"></i>
            <i class="bi bi-twitter"></i>
            <i class="bi bi-facebook"></i>
        </div>
    </div>
</div>
<div class="main-header2 fixed-top">
    <div class=" container-fluid ps-2 pe-2 header-main2">
        <div class="left1">
            <a class="btn" data-bs-toggle="offcanvas" href="#klef" role="button" aria-controls="offcanvasExample">
                <i class="bi bi-list"></i>
            </a> 
        </div> 
        <div class="center">
           <a href="{% url 'index' %}"> <img src="{% static '' %}images/klef9ja_061938.png" class="img-fluid"  alt="klef9ja logo"></a>
        </div>
        <div class="left1">
            <a class="btn" data-bs-toggle="offcanvas" href="#klef1" role="button" aria-controls="offcanvasExample">
                <i class="bi bi-search"></i>
            </a>
        </div>
    </div>
</div>