{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %}Promote your {% endblock title %}

{% block header %}{% include 'header.html' %}{% endblock header %}
{% block navigation %}{% include 'navigation.html' %}{% endblock navigation %}
<div class="container-fluid banner-sec-m">
    {% block content %}
        <div class="container banner-sec-m pbg1">
            <h3 class="fw-bold  text-success why">PRIVACY POLICY</h3>
            <p class="notepro">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia qui sit recusandae fugit alias architecto atque voluptatum dignissimos consequuntur veritatis. Labore officiis voluptatibus optio doloremque omnis rem fuga quae exercitationem soluta nisi ab, vitae reprehenderit dicta a dolores sequi voluptates consequuntur facilis pariatur ipsum sunt est atque? Repellat perferendis laborum temporibus esse ad nihil molestias nulla fuga quas odio, vel excepturi est amet deleniti nostrum recusandae maxime sunt rerum alias illum, facilis iusto, quasi velit atque? Odit, accusamus nostrum ipsam eum corporis recusandae a amet minima, facere officia dicta velit vitae itaque sequi qui blanditiis voluptatum eligendi dolore fugiat explicabo?</p>
           

            
        </div>


        
    
    {% endblock content %}
</div>
